#root {
    height: 100%;
}

html, body {
    height: 100%;
}

#cover {
    background: #222 url('./stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid red; */
}

#cover-caption {
    width: 100%;
    /* border: 1px solid red; */
}

.form-inline {    
    /* border: 1px solid red; */
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-inline > * {    
    margin-left: 0.5rem;
}

nav {
    height: 56px;
}