html, body, .firstDiv {
    height: 100%;
}

#cover {
    background: #222 url('./stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid red; */
}

#cover-caption {
    width: 100%;
    /* border: 1px solid red; */
}

.cards {
    width: 90%;
    margin: 2rem auto;
}

.form-inline {    
    /* border: 1px solid red; */
    /* width: 100vw; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.form-inline > * {    
    margin-left: 0.5rem;
}

nav {
    height: 56px;
}


#about {
    background: url(./girlincar.jpg) center center no-repeat;
    background-size: cover;
    padding: 4rem;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
    /* margin: 2rem; */
}

button {
    margin-right: 0.5rem;
}

.news {
    padding: 4rem;
}

.footer-main {
    background: #222;
    color: rgba(255, 255, 255, 0.815);
    font-size: 0.9rem;
    padding: 2.5rem;
}

.btn-sm {
    margin-bottom: 0.2rem;
    /* align-content: center; */
}